{% extends 'main.html.twig' %}

{% block content %}
    <h2>Your comment was added successfully! <img width="60" height="60" src="https://maxcdn.icons8.com/Share/icon/Hands//thumbs_up1600.png" /></h2>
    <a href="/task/{{commentContent }}"><b>Return to task</b></a>
{% endblock %}