{% extends 'main.html.twig' %}



{% block content %}

    <h1>Our Contacts</h1>
    <h3 style="padding-top: 20px; padding-bottom: 20px">Team Members: </h3>

    <ul style="font-size: 20px">
        <li>Lauris
            <img
                    width="128"
                    height="128"
                    src="https://cdn1.iconfinder.com/data/icons/profession-avatar-solid-2/48/74-512.png"
            />
        </li>
            <ul style="list-style-type: square; font-size: 16px; padding-left:250px">
                <li>Email : Lauris@gmail.com</li>
                <li>Phone : +371 11111111</li>
            </ul>
        <li>Rihards
            <img
                    width="128"
                    height="128"
                    src="http://primaequipment.com/wp-content/uploads/2015/10/male.png"
            />
        </li>
        <ul style="list-style-type: square; font-size: 16px; padding-left:250px">
            <li>Email : Rihards@gmail.com</li>
            <li>Phone : +371 44444444</li>
        </ul>
        <li>Katrina
            <img
                    width="184"
                    height="184"
                    src="http://www.free-icons-download.net/images/girl-icon-85775.png"
            />
        </li>

            <ul style="list-style-type: square; font-size: 16px; padding-left:250px">
                <li>Email : Katrina@gmail.com</li>
                <li>Phone : +371 22222222</li>
            </ul>
    </ul>

{% endblock %}