{% extends 'main.html.twig' %}



{% block content %}

    <h1>Our Contacts</h1>
    <p>Team Members: </p>
    <ul><li>Lauris</li>
        <li>Katrina</li>
        <li>Rihards</li>
    </ul>


{% endblock %}