{% extends 'main.html.twig' %}

{% block content %}
    <h1>{{ taskContent.title }}</h1>

    <ul>
        {% for listOfDummy in taskContent.listOfDummy  %}
            <li>{{ listOfDummy }}</li>
        {% endfor %}
    </ul>

    {#<p>{{ taskContent.listOfDummy }}</p>#}
{% endblock %}