<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Web & Mobile Bootcamp Summer 2017</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">Home</a>
            <a class="blog-nav-item" href="/static/about">About us</a>
            <a class="blog-nav-item" href="/static/contacts">Contact us</a>
            <a class="blog-nav-item" href="/static/useful">Useful pages</a>

        </nav>
    </div>
</div>

<div class="container">

    <div style="padding-left:180px" class="blog-header">
        <h1 class="blog-title">To Do Project</h1>
        <p style ="padding-left:150px; font-size:20px",class="lead blog-description">Best task planner EVER!</p>
    </div>

    <div class="row">

        {#<div class="col-sm-8 blog-main">#}
            {% block content %}{% endblock %}
        {#</div><!-- /.blog-main -->#}

        {#<div class="col-sm-3 col-sm-offset-1 blog-sidebar">#}
            {#<div class="sidebar-module sidebar-module-inset">#}
                {#<h4>About</h4>#}
                {#<p>something will be here.</p>#}
            {#</div>#}
            {#<div class="sidebar-module">#}

            {#</div>#}
            {#<div class="sidebar-module">#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>

<footer class="blog-footer">
    <p>Blog template built for
        <a href="http://getbootstrap.com">Bootstrap</a>
        by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


<object id="__symantecPKIClientMessenger" data-supports-flavor-configuration="true" data-extension-version="0.5.0.109"
        style="display: none;"></object>
<span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span></body>
</html>

