{% extends 'main.html.twig' %}



{% block content %}

    <h1>Find what you need, useful webpages, links and stuff</h1>
    <h3 style="padding-top: 20px; ">Useful links: </h3>
    <ul style="list-style-type: circle; font-size: 18px">
    <li><a href="http://www.phptherightway.com/">php The Right Way</a></li>
    <li><a href="http://www.killerphp.com/downloads/object-oriented-php/downloads/oop_in_php_tutorial.pdf">Learning OOP in PHP</a></li>
    <li><a href="https://symfony.com/">Symfony php</a></li>
    <li><a href="">php.net</a></li>
    <li><a href="https://packagist.org/">Packagist</a></li>
    </ul>

{% endblock %}