{% extends 'main.html.twig' %}



{% block content %}


    <h1>Find What you need, useful webpages, links and stuff</h1>
    <p>Useful links: </p>
    <ul><li><a href="#">php The Right Way</a></li>
    <li><a href="#">Learning OOP in PHP</a></li>
    <li><a href="#">Symfony php</a></li>
    <li><a href="#">php.net</a></li>
    <li><a href="#">Packagist</a></li>
    </ul>

{% endblock %}